* {
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
    border: 4px solid black;
    background-color: lightblue;

    }

#gameTitle {
    font-size: 45px;
    text-align:center;
    padding-top: 8px;
    padding-bottom: 15px;
}

.instructions {
    margin: 5px 20px 15px 20px;
    font-size:20px;
    
}

.leftColumn {
    
    float:left;
    width: 30%;
    border: 1px solid red;
    margin-left: 20px;
    height: 30%;
    height: fit-content
}

.randomContainer {
    background-color: darkblue;
    width: 100%;
    height: 200px;
    display:block;
    margin-bottom: 15px;
    border: 1px solid black;
    font-size: 45px;
    text-align:center;
    padding-top: 8px;
    padding-bottom: 15px;
}

.winLossContainer {
    clear: both;
    border: 1px solid black;
    height: 80px;
}

img {
    width:200px;
    height:200px;
    float:left;
    margin:0px;
    border: 1px solid black;
    padding:0px;
}

.images{
    width:fit-content;
}

.rightButton {
    margin-left:20px;

}
.rightColumn {
    float: right;
    width: 60%;
    margin-right: 20px;
    text-align: center;
}

.gameInfo {
    height:100%;
}

.totalBox {
    clear: both;
    margin-top: 20px;
    height:80px;
    background-color: gray;
    font-size: 45px;
    text-align:center;
    color: white;
}

button {
    margin-bottom: 20px;
    padding: 0px;
    border: 2px solid silver;
    
}