* {
    box-sizing: border-box;
}

html, body {
    height:100%;
}

body{
    background-color: #CAEBF2;
    font-family: 'Libre Franklin', sans-serif;
}

/**Contains entire game**/
.container {
    width: 78%;
    margin: auto;
    border-left: 4px solid #A9A9A9;
    border-right: 4px solid #A9A9A9;
    padding: 20px 20px 20px 20px;
    background-color: #EFEFEF;
    min-height:100%;
    display: flex;
    flex-wrap:wrap;
    /* flex-direction: column; */
    justify-content: center;
    }

/* Header: Crystal Click */
#gameTitle {
    font-size: 70px;
    text-align:center;
    padding-top: 8px;
    padding-bottom: 15px;
    font-family: 'Satisfy', cursive;
    color: #FF3B3F;
    background-color: #EFEFEF;
    margin-bottom:10px;
    text-shadow: /*Adds outline to text  */
    -1px -1px 0 #A9A9A9,
    1px -1px 0 #A9A9A9,
    -1px 1px 0 #A9A9A9,
    1px 1px 0 #A9A9A9;
}

/* -------------------Contains instructions and random number */

.topContainer { 
    display: flex;
    justify-content:space-between;
    align-items:center;
}

.instructions {
    margin: 0px 20px 0px 0px;
    font-size:18px;
    width: 55%;
    padding-right: 5px;
    text-align: justify;
}

.instructionsStart{
    font-weight:bold;
    color:#FF3B3F;
    font-style: italic;
}

.randomContainer { 
    background-color: #A9A9A9;
    color: #EFEFEF;
    width: 40%;
    height: 200px;
    font-size: 45px;
    text-align:center;
    padding-top: 8px;
    padding-bottom: 15px;
    border-radius: 5px; /*Gives element rounded borders */
}

#randomNumber  {
    display:block; /*To force number to next row*/
    margin-top:15px;
    font-size: 90px;
    color: #FF3B3F;
    font-family: 'Satisfy', cursive;
    padding: 0px 5px 0px 5px;
}


/* ---------------------Row of crystal images-------------------------------  */

.images { /**Image container **/
    clear:both;    
    padding: 20px 0px 20px 0px;
    display: flex;    
    justify-content: space-around !important;
    margin: auto;
    width:100%
}

img {
    width:180px;
    height:180px;
    border: 2px solid #A9A9A9;
}

img:hover { /*When use hovers on image */
border: 2px solid #FF3B3F;
opacity: .8;
}

/* -------------------- Total, win/loss and game message -------------------- */
.gameInfo {
    display:flex;
    align-items:center;
}

.totalBox {
    background-color: #FF3B3F;
    font-size: 45px;
    text-align:center;
    color: #EFEFEF;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    margin-right:15px;
}

.winLoss{
background-color:#A9A9A9;
border-radius: 5px;
padding: 10px 15px 10px 15px;
color:#EFEFEF;
font-weight:bold;
border: 2px solid #EFEFEF;
height:fit-content;
margin-right:15px;

}

#losses,
#wins {
    text-align:center;
}

.gameMessage{
    margin:auto;
    color:#FF3B3F;
    font-size:20px;
}

/**MEDIA QUERIES**/

/**Max Width: `980px**/
@media screen and (max-width: 980px) {
#gameTitle {
        font-size: 60px;
}

img{
    width:140px;
    height:140px;
}

.instructions {
    margin: 0px 20px 0px 0px;
    font-size:16px;
    width: 70%;
}

.randomContainer { 
    
    width: 35%;
    height: 165px;
    font-size: 35px;
}

#randomNumber  {
    font-size: 65px;
}

}
/**Max Width: `768px**/
@media screen and (max-width: 768px) {

    
    
    .instructions {
        margin: 0px 20px 0px 0px;
        font-size:14px;
        width: 100%;
        display:block;
    }
    
    .randomContainer { 
        
        width: 35%;
        height: 165px;
        font-size: 25px;
    }

    #randomNumber  {
        font-size: 45px;
    }
    .images { /**Image container **/
        clear:both;    
        padding: 20px 0px 20px 0px;
        display: flex;    
        width: 65%;
        flex-wrap: wrap;
        justify-content: space-around;!important
        margin: auto;
    }

    #crystal1,
    #crystal2 {
        margin-bottom:10px;


    }

    .gameInfo {
        display:block;
        align-items:center;
        width: 30%;
        float: left;
        padding: 20px 0px 20px 0px;
}
    
.totalBox {
    margin-right:0px;
    font-size: 35px;


    /* background-color: #FF3B3F;
    font-size: 45px;
    text-align:center;
    color: #EFEFEF;
    padding: 10px 15px 10px 15px;
    border-radius: 5px; */
   
}

.winLoss{
    padding: 10px 15px 10px 15px;
    margin-right:0px;
}


}